/*
Theme Name: 	   BuyCart
Text Domain: 	   buycart
Template: 		   shopire
Version:            0.4
Tested up to:       6.9
Requires at least:  4.7
Requires PHP:       5.6
Author:             WPFable
Author URI:         https://wpfable.com/
Theme URI:          https://wpfable.com/themes/buycart-free/
Description:        BuyCart is a fast, clean, lightweight theme. BuyCart is customizable and modern-looking free responsive WooCommerce WordPress theme for e-commerce stores like clothing, fashion, electronics, ebooks, dress store, sports shop, marketplace, multivendor, equipments or online products. Theme is compatible with Elementor, WPML, Polylang, Yoast SEO, WooCommerce, Contact Form 7, Jetpack and other popular plugins. The theme is SEO friendly, WPML and RTL ready. Looking for a WooCommerce theme? Look no further! BuyCart Pro demo https://demos.wpfable.com/premium/buycart/
Tags:               one-column, two-columns ,right-sidebar, flexible-header, custom-background, custom-header, custom-menu, editor-style, featured-images, footer-widgets, post-formats, theme-options, threaded-comments, translation-ready, full-width-template, custom-logo, blog, e-commerce, portfolio
License: GPLv3 or later
License URI:  https://www.gnu.org/licenses/gpl-3.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/

:root {
    --wf-main-rgb: 21, 125, 247;
    --wf-secondary-color: #0b32b5;
}

button[type="submit"], button, input[type="button"], input[type="reset"], input[type="submit"], .wf-btn, .wf-load-more a, .button {
    border-radius: 1.2rem;
}

.wf_navbar-list-right .wf_navbar-search-form {
    width: 100%;
}

.header--eight .wf_header-topbar .wf_header-widget {
    background-color: var(--wf-secondary-color);
    color: #fff;
}

.header--eight .woo-multi-currency.wmc-shortcode .wmc-currency.wmc-active,
.header--eight .woo-multi-currency.wmc-shortcode .wmc-current-currency {
    color: currentColor;
}

.header--eight .widget.widget_none .widget-title,
.header--eight .wf_header-topbar .widget.widget_nav_menu a {
    color: #fff;
}

.header--eight .wf_header-topbar .widget.widget_nav_menu a:hover,
.header--eight .wf_header-topbar .widget.widget_nav_menu a:focus {
    color: rgba(255, 255, 255, 0.8);
}

.header--eight .wf_header-topbar .wf_header-widget .widget--left {
    position: relative;
    z-index: 0;
}

.header--eight .wf_header-widget .widget.widget_contact .title img.emoji {
    margin-top: -4px !important;
}

@media screen and (min-width: 992px) {
    .header--eight .wf_header-topbar .wf_header-widget .widget--left::after,
    .header--eight .wf_header-topbar .wf_header-widget .widget--left::before {
        content: "";
        position: absolute;
        top: 0;    
        left: -100%;
        bottom: 0;
        transform: skewX(25.5deg);
        background-color: var(--wf-main-color);
        z-index: -1;
    }

    .header--eight .wf_header-topbar .wf_header-widget .widget--left::before {
        right: -0.5rem;
    }

    .header--eight .wf_header-topbar .wf_header-widget .widget--left::after {
        right: -1.5rem;
        opacity: 0.5;
    }
}

.header--eight .wf_navbar-wrapper > .wf-container {
    position: relative;
    z-index: 0;
}

.header--eight .wf_navbar-wrapper {
    background-color: var(--wf-main-color);
}

@media screen and (min-width: 1440px) {
    .header--eight {
        margin-bottom: -6.6rem;
    }
    .header--eight .wf_navbar-wrapper {
        background-color: transparent;
    }
    .header--eight .wf_navbar-wrapper.is--sticky.on {
        background-color: transparent;
        box-shadow: none;
    }
    .header--eight .wf_navbar-wrapper > .wf-container:after,
    .header--eight .wf_navbar-wrapper > .wf-container:before {
        content: "";
        position: absolute;
        top: 0;
        right: -100%;
        height: 100%;
        background: var(--wf-main-color);
        transform: skewX(-25.5deg);
        z-index: -1;
    }

    .header--eight .wf_navbar-wrapper > .wf-container:before {
        left: -0.5rem;
    }
    .header--eight .wf_navbar-wrapper > .wf-container:after {
        left: -1.5rem;
        opacity: 0.5;
    }
    .header--eight + .wf_pagetitle {
        padding-top: 11.5rem;
    }
}

.header--eight .wf_navbar-wrapper .wf_header-navwrapperinner,
.header--eight .wf_navbar-wrapper .wf_navbar-menu {
    min-height: 6.6rem;
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu {
    justify-content: space-between;
}

.header--eight .wf_navbar-wrapper .product-categories .product-categories-btn {
    background-color: var(--wf-secondary-color);
    border-radius: 1.2rem;
}

.header--eight .wf_navbar .wf_navbar-info-contact .contact__list i {
    color: #fff;
    background-color: var(--wf-secondary-color);
}

.header--eight .wf_navbar .wf_navbar-info-contact .contact__body .description {
    color: var(--wf-secondary-color);
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-nav .wf_navbar-mainmenu>li>a {
    color: #fff;
    --wf-main-color: #fff;
    --wf-secondary-color: #fff;
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-list-right>li:not(:last-child) {
    margin-right: 0.5rem;
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-compare-item .wf_compare_btn,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-favourite-item .wf_favourite_btn,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-user-item .wf_user_btn,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-cart-item .wf_navbar-cart-icon {
    color: #fff;
    outline-color: transparent;
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-compare-item .wf_compare_btn:focus,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-favourite-item .wf_favourite_btn:focus,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-user-item .wf_user_btn:focus,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-cart-item .wf_navbar-cart-icon:focus {
    outline-color: #fff;
    outline-offset: 2px;
}

.header--eight .wf_navbar-wrapper .wf_navbar-menu .shopire-wcwl-items-count,
.header--eight .wf_navbar-wrapper .wf_navbar-menu .wf_navbar-cart-item .cart_count {
    background-color: var(--wf-main-color);
}

.header--eight .header-search-form {
    background-color: transparent;
    padding-right: 0;
}

.header--eight .header-search-form .header-search-select-wrapper {
    float: left;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
    border-right: none;
}

.header--eight .header-search-form input.header-search-input {
    float: right;
    border-radius: 0 6px 6px 0;
	padding-right: 38px;
}

.header--eight .header-search-form input.header-search-input:focus {
    border: none;
    outline-offset: -2px;
    outline: 1px solid;
}

.header--eight .header-search-form .header-search-select {
    border-right: none;
    min-height: 4rem;
    height: 4rem;
}

.header--eight .header-search-form .header-search-button {
    width: 3.8rem;
    height: 3.8rem;
    top: 2px;
    right: 3px;
    border-radius: 6px;
}

.header--eight .header-search-form .search-wrapper svg {
    left: 88%;
}

.header--eight .wf_mobilenav {
    border-bottom: 0.1rem solid rgba(189, 189, 189, 0.4);
}

/* Slider Ten */

.wf_slider--ten .slider {
    border-radius: 1.5rem;
    overflow: hidden;
}

.wf_slider--ten.wf_slider_banner .wf_slider-content {
    padding: 1.8rem;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .wf_slider--ten.wf_slider_banner .wf_slider-content {
        padding: 6.5rem;
    }
}

.wf_slider--ten .banner-wrapper .banner-wrapper-item .wf-image img {
    height: 25.3rem;
}

.wf_slider--ten div.wf_slider-content .title {
    font-size: 5.2rem;
}

.wf_slider--ten .wf_slider-content .title,
.wf_slider--ten .wf_slider-content .subtitle {
    margin-bottom: 1.6rem;
}

.wf_slider--ten .wf_slider-content .text {
    margin-bottom: 2.2rem;
} 

.wf_slider--ten .banner-wrapper .banner-wrapper-item {
    border-radius: 8px;
}

.wf_slider--ten .banner-wrapper .banner-wrapper-item .wf-btn {
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.wf_slider_banner {
    margin-top: 2.4rem;
}

.wf_slider_banner .last {
    display: none;
}

.wf_slider_banner .wf_owl_carousel,
.wf_slider_banner .wf_slider-item,
.wf_slider_banner .wf_slider-innercell,
.wf_slider_banner .wf_slider-item>img {
    max-height: 60rem;
    min-height: 60rem;
}

.wf_slider_banner .wf_slider-content {
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.wf_slider_banner .wf_slider-content .title {
    font-size: 3.8rem;
}

.wf_slider_banner .wf_slider-content .subtitle {
    color: #fff;
    font-size: 1.8rem;
}

.banner-wrapper:not(.wf-row) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2.4rem;
}

.banner-wrapper .banner-wrapper-item .wf-image,
.banner-wrapper .banner-wrapper-item .wf-image a,
.banner-wrapper .banner-wrapper-item .wf-image img {
    height: 100%;
}

.banner-wrapper .banner-wrapper-item .wf-image img {
    object-fit: cover;
}

.banner-wrapper .banner-wrapper-item,
.wf-image {
    position: relative;
    overflow: hidden;
}

.banner-wrapper .banner-wrapper-item .wf-image a,
.banner-wrapper .banner-wrapper-item .wf-image img {
    width: 100%;
    display: inline-block;
}

.effect_1 .wf-image img {
    backface-visibility: hidden;
    filter: alpha(opacity = 100);
    transition: opacity 1s ease 0s, transform 1s ease 0s;
}

.effect_1:focus-within .wf-image img,
.effect_1:hover .wf-image img {
    filter: alpha(opacity = 80);
    transform: scale3d(1.1, 1.1, 1);
}

.banner-wrapper .banner-wrapper-item .banner-wrapper-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    transform: translateY(0);
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
}

.banner-wrapper .banner-wrapper-item:nth-child(3) .banner-wrapper-inner {
    text-align: center;
    justify-content: center;
}

.banner-wrapper .banner-wrapper-item .banner-wrapper-inner .info {
    padding: 2.6rem 2.4rem 0;
}

.banner-wrapper .banner-wrapper-item .banner-wrapper-inner .info .subtitle {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1.2rem;
}

.banner-wrapper .banner-wrapper-item .banner-wrapper-inner .info .title {
    font-size: 2.2rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 2.4rem;
}

.banner-wrapper .banner-wrapper-item .banner-wrapper-inner .info .title a {
    color: #fff;
    text-decoration: none;
}

/* Header Eight Slider */

.header--eight + #content .wf_slider--ten {
    margin-top: 0;
}

.header--eight + #content .wf_slider--ten > .wf-container {
    max-width: 100%;
}

.header--eight + #content .wf_slider--ten > .wf-container > .wf-row > .wf-col-lg-12,
.header--eight + #content .wf_slider--ten > .wf-container > .wf-row:not(.banner-wrapper),
.header--eight + #content .wf_slider--ten > .wf-container {
    margin: 0;
    padding: 0;
}

.header--eight + #content .wf_slider--ten .slider {
    border-radius: 0;
}

.header--eight + #content .wf_slider--ten.wf_slider_banner .wf_slider-content {
    padding: 0;
	max-width:62rem;
}

.wf_slider .owl-theme.owl-carousel .owl-dots .owl-dot:not(.active) span {
    --wf-main-color: #fff;
}

/* Information Three */

.wf_information--three .wf-row {
    margin: 0;
    padding: 3% 3.5%;
    border-radius: 15px;
    background-color: var(--wf-secondary-color);
}

@media (max-width: 575px) {
    .wf_information--three .wf-row {
        padding-bottom: 8%;
    }
}

.wf_information--three .widget.widget_contact .contact__list {
    margin-top: 0;
}

.wf_information--three .widget.widget_contact i {
    width: auto;
    height: auto;
    font-size: 4.5rem;
    border-radius: 20px;
    position: relative;
    margin-right: 2.2rem;
    color: var(--wf-main-color);
    transform: translateY(0);
}

.wf_information--three .widget.widget_contact i::before {
    display: inline-block;
    transition: 0.4s ease-in-out;
}

.wf_information--three .widget.widget_contact:hover i::before,
.wf_information--three .widget.widget_contact:focus-within i::before {
    display: inline-block;
    transform: scale(-1) rotate(180deg);
}

.wf_information--three .widget.widget_contact .contact__body .title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
}

.wf_information--three .widget.widget_contact .contact__body .title a {
    color: #fff;
}

.wf_information--three .widget.widget_contact .contact__body .description {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 4px;
    line-height: 1.2;
    opacity: 0.8;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
    border-color: inherit;
    background: transparent
}